@import url("https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

.sidebar a {
  padding: 15px 0;
  display: block;
}

.sticky {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  background-color: rgb(32, 36, 44) !important;
}

.postTemplate .right img {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

blockquote {
  padding-left: 20px;
  margin-left: 0;
  border-left: 3px solid crimson;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
